<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Dinner</h2>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="menu-section">
      <h2 class="menu-section-title">Entrees</h2>
      <hr />
      <div class="menu-item">
        <div class="menu-item-name">Dish Name</div>
        <div class="menu-item-price">Price</div>
        <div class="menu-item-description">Descriiption....</div>
      </div>
    </div>
  </div>
</div>
