{% extends 'index.html' %} {% block content%}
<div id="restaurant-menu-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <li>
        <a id="lunch-link" href="{% url 'lunch' %}" class="page-scroll">
          <h2>Lunch</h2>
        </a>
      </li>
      <hr />
      <li>
        <a id="dinner-link" href="{% url 'dinner' %}" class="page-scroll">
          <h2>Dinner</h2>
        </a>
      </li>
      <hr />
      <li>
        <a id="brunch-link" href="{% url 'brunch' %}" class="page-scroll">
          <h2>Brunch</h2>
        </a>
      </li>
      <hr />
      <li>
        <a id="wine-link" href="{% url 'wine' %}" class="page-scroll">
          <h2>Wine</h2>
        </a>
      </li>
      <hr />
    </div>
  </div>
</div>
{% endblock content%}
