{% extends 'index.html' %} {% block content%}

<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <li>
        <a href="{% url 'lunch' %}" class="page-scroll"><h2>Lunch</h2></a>
      </li>
      <hr />
      <li>
        <a href="{% url 'dinner' %}" class="page-scroll"><h2>Dinner</h2></a>
      </li>
      <hr />
      <li>
        <a href="{% url 'brunch' %}" class="page-scroll"><h2>Brunch</h2></a>
      </li>
      <hr />
      <li>
        <a href="{% url 'wine' %}" class="page-scroll"><h2>Wine</h2></a>
      </li>
      <hr />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="page-scroll">Brunch</h2>
          <h2 class="menu-section-title">Salads/Sandwiches</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Dish Name</div>
            <div class="menu-item-price">Price</div>
            <div class="menu-item-description">Descriiption....</div>
          </div>
          <h2 class="menu-section-title">Entrees</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Dish Name</div>
            <div class="menu-item-price">Price</div>
            <div class="menu-item-description">Descriiption....</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
