{% extends 'index.html' %} {% block content%}

<div id="restaurant-menu-wine">
  <div class="section-title text-center center">
    <div class="overlay">
      <li>
        <a id="lunch-link" href="{% url 'lunch' %}" class="page-scroll">
          <h2>Lunch</h2>
        </a>
      </li>
      <hr />
      <li>
        <a id="dinner-link" href="{% url 'dinner' %}" class="page-scroll">
          <h2>Dinner</h2>
        </a>
      </li>
      <hr />
      <li>
        <a id="brunch-link" href="{% url 'brunch' %}" class="page-scroll">
          <h2>Brunch</h2>
        </a>
      </li>
      <hr />
      <li>
        <a id="wine-link" href="{% url 'wine' %}" class="page-scroll">
          <h2>Wine</h2>
        </a>
      </li>
      <hr />
      
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% comment %} <div class="col-xs-12 col-sm-6"> {% endcomment %}
       



   {% for type in types %}
      <div class="container">
        <div class="row"> 
           <div class="overlay">
          {% comment %} <div class="col-xs-12 col-sm-6"> {% endcomment %}
            <h2 class="menu-section-title">{{ type }}</h2>
            


            <div class="overlay">
              <div class="container">
                <div class="row">
                  {% comment %} <div class="col-xs-12 col-sm-6"> {% endcomment %}
                   
                    

                    {% for item in items %} {% if item.item_type == type %}

                    <div class="menu-item">
                      <div class="menu-item-name">{{ item.name }}</div>
                      <div class="menu-item-price">{{ item.price }}</div>
                      <div class="menu-item-description">{{ item.description }}</div>
                    </div>
                    {% endif %} {% endfor %} {% endfor %}
                  </div>
                  {% endblock content%}
                </div>
              </div>
              </h2>
            </div>