<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Wine/Cocktails</h2>
      <hr />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Wine</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Wine Name</div>
            <div class="menu-item-price">Price</div>
            <div class="menu-item-description">Descriiption....</div>
          </div>
          <h2 class="menu-section-title">Cocktalils</h2>
          <hr />
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Delicious Dish</div>
            <div class="menu-item-price">$30</div>
            <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
